<% include layout %>
<a href="/"><button class="btn btn-primary">Home</button></a>
<% if (typeof successMsg != 'undefined' && successMsg) { %>
    <div class="alert alert-info"><%- successMsg %></div>
    <% } else if(typeof errorMsg != 'undefined' && errorMsg) { %>
            <div class="alert alert-danger"><%- errorMsg %></div>
            <% } %>
  <section name="content">
    <div class="container">
    <h5 class="text-center"><a href="/users/register">Add user</a></h5>
    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#.</th>
                        <th>Index</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Group</th>
                        
                        <th>Edit/Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                                    <% 
                                    if (typeof users != 'undefined' && users.length > 0) { 
                                            var srNo = 0;
                                            users.forEach( function ( user ){
                                                    srNo = srNo + 1;
                                                    %>
                                  <tr>
                                                    <th scope="row"><%= srNo %></th>
                                            <td><%= user.index %></td>
                                            <td><%= user.name %></td>
                                            <td><%= user.email %></td>
                                            <td><% if (user.role==2) { %> Group 1 <% } else if(user.role==3) { %> Group 2 <% } %></td>
                                            
                                            <td>
                                                            <a href="/users/edit/<%= user._id %>" title="Edit User"><button class="btn btn-primary">Edit</button></a>
                                                            <a href="/users/destroy/<%= user._id %>" title="Delete User"><button class="btn btn-danger">Delete</button></a>
                                           
                                            </td>
                                          </tr>
                                    <% });
                                    }
                                   else {  %>
                                      <tr><td colspan="6"> No Data </td></tr>
                                    <% } %>
                    </tbody>
                  </table>
    </div>
   </section>